
  /* this selector selects all divs inside of .flex-container */

  .flex-container div {
    display: flex;
  }

  .Header{
    background-color: #1f2937;
    min-height: 60px;
    color: white;
    display: flex;
   
  }

  .Logo{
    flex: 1;
    margin-left: 150px;
  }

  .Links{

    flex: 1;
    display: flex;
    justify-content: end;
    margin-right: 150px;
  }
